
:root {
	--primary-color: #F1F410;
	--secondary-color: #0592CE;
	--accent-color-1: #291B5E;
	--accent-color-2:#F17912;
	--background-color: #d7d0d0;
	--text-color: #fff;
}

* {
	box-sizing: border-box;
}

.homepage {
    background-color: #d7d0d079;
    font-family: "Josefin Sans", serif, sans-serif;
    text-align: center;
    margin-bottom: .5rem;
    padding: 10px;
    overflow: hidden;
    width: 100%;
}

.homepage nav  a {
    margin: 10px;
    padding: 10px;
    text-decoration: none;
	font-weight: bold;
}

.homepage banner {
    background-color: #fff;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.header-container {
    background-color: var(--background-color);
    padding: 20px;
    display: flex;
    align-items: center;
	justify-content: space-evenly;
	margin-bottom: .5rem;
}

.header-container div {
    flex: 0;
}

.header-container img {
    width: 100px;
    height: auto;
	margin-left: 5rem;
}

.header-container nav {
    flex: 2;
    text-align: center;
}

.header-container nav a {
    margin: 0 40px;
    text-decoration: none;
	font-family: "Josefin Sans", serif;
    color: #291B5E;
    font-weight: bold;
}

.header-container nav a:hover {
    color: tomato;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	font-family: "Josefin Sans", serif;
    color: white;
    text-align: center;
}

.overlay-h1 {
    font-size: 2em;
    margin: 0.5em 0;
    padding: 15px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 10px;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3em;
}

.center-content article {
    display: flex;
    flex-direction: row; 
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 800px;
    margin: auto;
}

.center-content img {
    order: 2; 
    margin-left: 20px; 
    width: 100px; 
    height: 100px;
}

.center-content p {
    margin: 0;
    max-width: 600px;
}

.homepage-aside {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.newsletter button, .contact-form button {
    padding: 10px 20px;
	font-family: "Josefin Sans", serif;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.newsletter button:hover, .contact-form button:hover {
    background-color: darkgreen;
}

.contact-form, .company-info, .adventure {
	font-family: "Roboto", serif;
	font-weight: 500;
	text-align: center;
	background-color: var(--background-color);
	padding: .5rem;
}

section h2 {
	font-family: "Josefin Sans", serif;
	color: var(--accent-color-1);
	text-align: center;
}

.about-history p {
	font-family: "Roboto", serif;
	font-weight: 500;
	text-align: center;
	background-color: var(--background-color);
	margin: 0 20px 30px;
	padding: 1rem;
}

.about-container {
	width: 100%;
	max-width: 1150px;
	overflow: hidden;
	margin:auto; 
}

.about-item {
	float: left;
	width: 250px;
	margin: 1rem;
	text-align: center;
}

.about-item img {
	width: 250px;
	height: 200px;
}

.about-container p {
	font-family: "Roboto", serif;
	color: #291B5E;
	font-weight: 500;
	margin: 0 0 20px;
}

iframe {
	border: none;
	width: 100%;
	height: 450px;
	padding: .5rem;
}

.employee-profiles {
    padding: 20px;
    background-color: var(--background-color);
	width: 100%;
}

.employee-profiles h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
}

.employee-container {
    display: flex;
    justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
    margin-bottom: 20px; 
}

.employee{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.employee figure {
    margin: 0 10px;
	font-family: "Roboto", serif;
    text-align: center;
}

.employee img {
    width: 200px;
    height: auto;
    border-radius: 50%; 
}

.homepage-banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color: var(--background-color);
    margin: 1rem; 
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.banner-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.banner-item img {
    width: 100%;
    max-width: 300px;
    height: 200px;
}

.homepage-history {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 80vh;
    background-color: #fff;
    margin: .5rem;
    z-index: 1;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.image-container {
    flex: 0 0 60%;
    position: relative; 
    z-index: -1;
}

.image-container img {
    width: 100%;
    height: auto;
}

.history-aside {
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
    width: 45%;
    background-color: var(--background-color);
    padding: 20px;
    border: 2px double black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.history-aside h2 {
    margin-bottom: 20px;
}

.history-aside p, .banner-item p, .trip-call-to-action p {
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
}

.history-aside .button, .homepage-aside .button, .call-to-action .cta-button, .trip-call-to-action .cta-button {
    font-family: "Josefin Sans", sans-serif;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.history-aside .button:hover, .homepage-aside .button:hover, .call-to-action .cta-button:hover, .trip-call-to-action .cta-button:hover {
    background-color: darkgreen;
    transform: scale(1.05);
}

.employee figcaption {
    margin-top: 10px;
	color: #007BFF;
    font-weight: bold;
	background-color: var(--background-color);
}

.contact-form {
	margin-top: 20px;
}

.contact-form form {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	margin: auto;
}

.contact-form label {
	margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
	margin-bottom: 15px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.newsletter h2 {
    font-family: "Josefin Sans", serif;
	color: var(--accent-color-1);
    text-align: center;
    margin-bottom: 20px;
}

.newsletter {
    padding: 20px;
    background: var(--background-color);
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.newsletter form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.newsletter form label {
    margin: 10px 0 5px;
}

.newsletter form input {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #291B5E;
    border-radius: 5px;
}

.call-to-action, .history-aside, .trip-call-to-action p {
    font-family: "Roboto" sans-serif;
    text-align: center;
}

.call-to-action p, .site-info p {
    font-family: "Roboto";
}

.site-info {
    border-top: 2px double #291B5E;
    margin-top: 1rem;
}

.site-info .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background: var(--background-color);
}

.site-info .grid-item {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.site-info .grid-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.site-info .grid-item p {
    margin-top: 10px;
}

.trips-descriptions {
    text-align: center;
    padding: 20px;
    background-color: var(--background-color);
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.trips-descriptions h2 {
    margin-bottom: 20px;
}

.trip-call-to-action {
    text-align: center;
}

.trips-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.trip {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.trip img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.trip-info {
    padding: 10px;
}

.trip-info h3 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.2rem;
    color: #007BFF;
    text-shadow: 
    .5px .5px 0 black,
    -.5px -.5px 0 black,
    -.5px .5px 0 black,
    1px -1px 0 black;
    margin-bottom: 10px;
}

.trips-table {
    text-align: center;
    padding: 20px;
    background-color: var(--background-color);
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.trips-table table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

.trips-table th, .trips-table td {
    border: 2px solid #0b0000dd;
    padding: 8px;
}

.trips-table th {
    font-family: "josefin Sans", sans-serif;
    color: aliceblue;
    background-color: var(--accent-color-2);
}

.trips-table td, .trip-info p {
    font-family: "Roboto", sans-serif;
    color: #000;
    font-weight: 500;
}

footer {
	font-family: "Josefin Sans", serif;
	background-color: #d7d0d0;
	text-align: center;
	margin: .5rem;
	padding: 10px;
	width: 100%;
}

.social-media a {
	margin: 0 10px;
}

.social-media a img {
	width: 30px;
}

.social-media {
	display: flex;
	justify-content: flex-end;
	margin-top: 1rem;
}
