:root {
    --primary-color: darkblue;
    --accent-color: rgb(23, 4, 128);
    --secondary-color: #f0f0f0;
}
nav {
    background-color: var(--primary-color);
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}
nav a {
    color: var(--secondary-color);
    display: block;
    padding: 20px;
}
h1 {
    color: var(--primary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
main {
    max-width: 840px;
}
aside {
    width: 300px;
    margin: 15px;
    border: 2px solid #686666;
    padding: 10px;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
footer {
    text-align: center;
    margin-top: 10px;
    border-top: 2px solid #686666;
    color: var(--accent-color);
}