nav {
    background-color: darkblue ;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: darkblue;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
}
main {
    width: 840px;
}
aside {
    width: 300px;
    margin: 15px;
    border: 2px solid #686666;
    padding: 10px;
    background-color: #f0f0f0;
    color: rgb(23, 4, 128);
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
footer {
    text-align: center;
    margin-top: 10px;
    border-top: 2px solid #686666;
    color: rgb(23, 4, 128);
}