
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: darkblue;
    --accent-color: rgb(23, 4, 128);
    --secondary-color: #f0f0f0;
}
nav {
    background-color: var(--primary-color);
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    display: block;
    text-decoration: none;
    font-weight: 700;
    color: var(--secondary-color);
    display: block;
    padding: 20px;
}
h1 {
    color: var(--primary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 2px solid var(--primary-color);
}
main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    margin-left: 10px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
main {
    max-width: 840px;
}
aside {
    position: relative;
    width: 300px;
    margin: 15px;
    border: 2px solid #686666;
    padding: 10px;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    text-align: center;
}
aside img {
    width: 250px;
    height: auto;
}
aside h2 {
    position: absolute;
    left: 80px;
    color: black;
}
header, footer {
    max-width: 840%;
    margin: 0 auto;
}
.grid {
    display: grid;
    align-items: center;
}
main {
    grid-column: 2/3;
    margin: 1rem;
}
aside {
    width: 300px;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}
footer {
    text-align: center;
    margin-top: 10px;
    border-top: 2px solid #686666;
    color: var(--accent-color);
}
/* Class Selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    max-width: fit-content;
}

@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
    nav a {
        padding: 10px;
        width: 100%;
        text-align: center;
    }
    .banner-1 {
        width: 100%;
        margin-left: 0;
    }
    .banner-1 img {
        width: 100%;
        height: auto;
    }
    .history-aside {
    width: 90%;
    right: 5%;
    top: auto;
    position: relative;
    }
}